h1 {
    color: hotpink;
    font-family: cursive;
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#product-card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    background-color: lightgrey;
    box-shadow: 0 1px 1px #e6e6e6;
    border: 0;
}

#product-name {
    text-align: center;
    padding: 8px;
}
